*{
    padding: 0;
    margin: 0;
}
body{
    background-color: gray;
    background-image: url("https://wallpapercave.com/wp/wp3179370.jpg");

    /* background-image: url("https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"); */
}
.board-name{
    font-size: 30px;
    /* padding-left: 8px;
    padding-right: 8px; */
    padding: 8px;
    display: flex;
}
.boardName{
    display: flex;
    /* justify-content: center; */
    /* background-color: rgb(80, 80, 153); */
    margin-left:30px;
    border: 2px solid white;
    background-color: white;
    border-radius: 8px;
    margin-top: 10px;
    width:fit-content;
    opacity: .4;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}
.boardName:hover{
opacity: 0.6;
}
.list{
   
    min-height:90px;
    width: 270px;
    margin: 10px;
    border-radius: 5px;
    color:black;
    font-weight: bold;
    background-color: green;
    /* border: 2px solid blue; */
    margin-top: 10px;
    margin: 5px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    background-color: white;
    /* background-image:url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg") */

 }
.list-container{
    display: flex;
   flex-wrap: wrap;
}
.add-list{
    font-size: 35px;
    margin: 5px;
    height: 30px;
    width:200px;
    color:whitesmoke;
    background-color: rgb(141, 131, 137);
    /* border: 2px solid blue; */
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 5px;

}
.add-list:hover{
    background: rgb(194, 7, 7);
}
.new-card{
    color:black;
}
.popup-container{
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
}
.popup{
    display: flex;
    flex-direction: column;
    width:15%;
    
}
.popup-container{
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
}
.popup{
    display: flex;
    flex-direction: column;
    width:15%;
    
}
.input-name{
    height: 30px;
    width:180px;
}

.btn-height{
    width: 60px;
}
.delete{
    cursor: pointer;
}

button{
    /* background-color: rgb(29, 21, 151);
    padding: 5px;
    height: 40px;
    width: 50px; 
   border-radius: 5px;
   cursor: pointer; */
   /* background-color: #4CAF50; */
   border: none;
   color: black;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   opacity: 1;
}

 button.addButton{
    background-color: #4CAF50;
  border: none;
  color: white;
  /* padding: 12px 25px; */
  padding: 10px;
  /* text-align: center; */
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  align-items: center;
  justify-content: center;
  /* margin: 4px 2px; */
  cursor: pointer;
  justify-content: center;
  /* padding-bottom: 5px; */
}


.input-name{
    height: 30px;
    border: 2px green solid;
    background-color:thistle;
    border-radius: 10px;
}
.btn{
    display: flex;
    justify-content: space-around;
    height: 25px;
    border-radius: 10px;
   
}
.create{
    margin-left: 60px;
}
.cancel{
    margin-left: 60px;
}
.btn-height{
    width: 60px;
}
.delete{
    cursor: pointer;
    font-size: 30px;
    background: none;
}
.list{
    display: flex;
    flex-direction: column;
justify-content: flex-start;
padding-left: 25px;
padding-right: 25px;
padding-top: 15px;
padding-bottom: 2px;

}
.cards{
    height: 30px;
    color:gray;
    display: flex;
    justify-content: space-between;
    border: 2px solid wheat;
    cursor: pointer;
  align-items: center;
  margin: 5px;
  text-align: center;
  padding: 2px;

}
.cards .cardName{
    margin-left: 40px;
}
.delCard{
    height: 30px;
    width:30px;
    font-size: 20px;
    display: flex;
    /* justify-content: right; */
    /* background-color: blue; */
    border-radius: 5px;
    cursor: pointer;
    background: none;
   
   
    }
    .delCard:hover{
      font-size: 24px;
    }


.new-card{
    color:gray;
    margin: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.new-card:hover{
    /* border: 2px solid wheat; */
    padding: 5px;
    background: rgb(226, 216, 216);
}

.createCard{
display: none;
height: 25px;
width:100%;
color:red;
margin: 20px;

}
button{
    /* background-color: tomato; */
    padding: 5px;
}
.btn{
    margin: 5px;
}

.addButton{
    margin-left: 20px;
    height: 30px;
    width: 60px;
    font-size: 16px;
}
.inputCard{
    height: 30px;
    /* background-color: rgb(126, 22, 121); */
    background-color: #3CBC8D;
    color: white;
}


/* checklist */

.container{
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
}

.outline{
    width: 800px;
    height: 600px;
    font-size: 18px;
   background-color: wheat;
    padding: 20px;
    display: flex;
    overflow: scroll;
    border-radius: 5px;

   
}
.check-add{
    height:500px;
    width: 50%;
    /* background-color: blue; */
}
.check-add h4{
color: blue;
font-size: 28px;

}
.con{
    display: flex;
    margin-left:300px;
    flex-direction: column;
   
 }
 .con h4{
     color:gray;
     margin: 10px;
     margin-left: 50px;
 }
 .con button{
     background: #4CAF50;
 }
 

.close{
   padding: 10px;
   width: 100px;
   cursor: pointer;
   margin: 5px;
}

.check{
   
    width:20%;
    cursor: pointer;
    margin:20px;
    font-size: 18px;
    padding: 5px;
}
.checklist{
    cursor: pointer;
    padding: 10px;
    width: auto;
    cursor: pointer;
    margin: 5px;
}
.input-check{
    margin:5px;
    height: 20px;
    border:2px solid green;
}

/* delete */
.deleteList{
    width:25%;
    border-radius: 20px;
    /* background-color:green; */
    margin-left: 220px;
    margin-top: -20px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 24px;
    background: none;
    color: black;
    
}
.deleteList:hover{
    font-size:30px ;
}


button{
    /* background-color: rgb(29, 21, 151); */
    padding: 5px;
    height: 40px;
    width: 50px; 
   border-radius: 5px;
   cursor: pointer;
}
/* 
input{
    height: 70px;
    background-color: purple;
    margin: 10px;
    border: red 2px solid;
    border-radius: 5px;
} */

.check-add{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding: 20px;
}
.singleChecklist{
   display: flex;
   flex-direction: column;
   /* border: 2px solid red; */
   margin: 5px;
   background-color: gray;
   border-radius: 5px;
  
}
.singleChecklist .addItem{
    background: #b7ceb7;
}

.checkCon{
    display: flex;
    justify-content: space-between;
    margin: 2px;
    
}
.checkName{
    margin-left: 20px;
    margin-top: 10px;
}
.checkItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
}
.inputItem{
    height: 25px;
    border: 2px solid rgb(44, 129, 48);
}
.checkitemcontainer{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}
.delChecklist{
    background: none;
    font-size: 24px;
}
.addItem{
    margin-left: 3px;
}
